<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"/>



</head>
<body>
<!-- 第一种方式：前端post提交表单 -->
<form action="/getDataById" method="post">
    <fieldset>
        <input type="text" name="id" />
    </fieldset>
</form>


<!--<span th:text="${uname}">asdasd</span>-->
<!--Field1: <input type="text" id="field1" value="Hello World!"><br>-->
<!--Field2: <input type="text" id="field2"><br><br>-->

<!--<button onclick="copyText()">复制文本</button>-->
<!--<a th:href="to">asdas</a>-->
<!--<a href="hello.html">dddd</a>-->
<!--<p>当按钮被单击时触发函数。此函数把文本从 Field1 复制到 Field2 中。</p>-->

</body>

</html>